*{box-sizing:border-box;font-family:Arial}
body{margin:0;background:#f5f7fb}

header{display:flex;align-items:center;padding:10px;background:#fff;
box-shadow:0 2px 6px rgba(0,0,0,.1)}
.logo{font-weight:bold;margin:auto}
.menu-btn{font-size:22px;cursor:pointer}

.mobile-menu{
position:fixed;top:0;left:-100%;width:80%;height:100%;
background:#fff;padding:20px;transition:.3s;z-index:99
}
.mobile-menu.show{left:0}
.mobile-menu a{display:block;padding:12px;margin:10px 0;
background:#f1f3f8;border-radius:10px;text-decoration:none;color:#333}
.close{float:right;font-size:20px;cursor:pointer}

main{padding:10px}
section{margin-bottom:25px}

.news-card{
display:flex;
background:#fff;
border-radius:14px;
padding:1px;
margin-bottom:6px;
height:90px;
overflow:hidden;
cursor:pointer;
box-shadow:0 2px 8px rgba(0,0,0,.08)
}

.news-card img{
width:90px;height:90px;border-radius:10px;object-fit:cover
}

.news-text{padding-left:10px;overflow:hidden}
.news-title{font-weight:bold;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.news-meta{font-size:11px;color:#777}
.news-summary{
font-size:12px;
height:36px;
overflow:hidden
}

.view-all{
  display:inline-block;
  margin:10px auto 0;
  padding:10px 22px;
  background:linear-gradient(135deg,#6a11cb,#2575fc);
  color:#fff;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
  border-radius:25px;
  box-shadow:0 4px 12px rgba(0,0,0,.2);
  transition:.3s;
}

.view-all:hover{
  transform:translateY(-2px);
  box-shadow:0 6px 16px rgba(0,0,0,.25);
}


footer{text-align:center;padding:15px;background:#fff}

