<header class="site-header">
  <div class="menu-btn" onclick="openMenu()">☰</div>
  <div class="logo">StockNews</div>
</header>
<div id="mobileMenu" class="mobile-menu">

  <span class="close" onclick="closeMenu()">✕</span>
  <div class="menu-header">Stock Edge</div>

  <!-- DEFAULT OPEN -->
  <div class="menu-accordion active" onclick="toggleMenu(this)">
    Learn Stock Market (Beginners)
    <span class="arrow rotate">▼</span>
  </div>
  <div class="submenu open">
    <a href="#">Stock Market Basics</a>
    <a href="#">NSE & BSE</a>
    <a href="#">Demat & Trading Account</a>
  </div>

  <div class="menu-accordion" onclick="toggleMenu(this)">
    Technical Analysis
    <span class="arrow">▼</span>
  </div>
  <div class="submenu">
    <a href="#">Chart Patterns</a>
    <a href="#">Indicators</a>
  </div>

  <div class="menu-accordion" onclick="toggleMenu(this)">
    Trading Strategies
    <span class="arrow">▼</span>
  </div>
  <div class="submenu">
    <a href="#">Intraday</a>
    <a href="#">Swing Trading</a>
  </div>

</div>

